.container {
  max-width: 400px;
  max-height: auto;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px grey;
  margin-top: 10px;
  padding: 15px 50px;
}
.text-center {
  text-align: center;
}
.expanse-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px grey;
}
.transaction-list{
  margin: 0;
  padding: 0;
}
.transaction-list >li {
  display: flex;
  justify-content:space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 5px;
  background-color: white;
  margin: 5px 0;

}

.transaction-form input {
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}
